# Django
SECRET_KEY=change_me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
WEB_PORT=8000

# PostgreSQL
POSTGRES_DB=lms
POSTGRES_USER=lms_user
POSTGRES_PASSWORD=change_me
DB_HOST=db
DB_PORT=5432

# Redis / Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Email
DEFAULT_FROM_EMAIL=noreply@example.com

# Stripe
STRIPE_PUBLISHABLE_KEY=change_me
STRIPE_SECRET_KEY=change_me

# Telegram
TELEGRAM_BOT_TOKEN=change_me
