SECRET_KEY=change-me-to-secret
DEBUG=True
DEFAULT_FROM_EMAIL=noreply@example.com
TELEGRAM_BOT_TOKEN=your-telegram-bot-token
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0